.pf-page-container {
    height: 100%;
    overflow: hidden;
    transition: transform 1s ease-out;
    >.pf-page-container {
        position: absolute;
        width: 100%;
        // background: linear-gradient(to bottom, #00d2ff, #3a7bd5, #00d2ff);
    }
    .prev {
        transform: translateY(-100%);
    }
    .this {
        transform: translateY(0%);
    }
    .next {
        transform: translateY(100%);
    }
}